<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav-Bar</title>
  </head>
  <body>
    <nav>
      <ul class="primary-navigation flex" id="primary-navigation">
        <li class="active">
          <a href="#"><span aria-hidden="true">00</span>Home</a>
        </li>
        <li class="active">
          <a href="#"><span aria-hidden="true">01</span>Rooms</a>
        </li>
        <li class="active">
          <a href="#"><span aria-hidden="true">02</span>Services</a>
        </li>
        <li class="active">
          <a href="#"><span aria-hidden="true">03</span>Location</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
